.indepth_element{
	position: relative;
}
.indepth_share {
	top: 20px;
}
#indepth_cover{
	width: 100%;
	height: 700px;
	background-image: url("../images/Fondo_Completo.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
#indepth_videos{
	width: 100%;
	height: 1251px;
	background-image: url("../images/Fondo_Videos.jpg");
	background-color: #0D1723;
	background-position: center bottom;
	background-size: 100% auto;
	background-repeat: no-repeat;
}
#videos_container {
    width: 640px;
    height: 596px;
    position: relative;
    margin: auto;
    padding-top: 150px;
}
#video_convocatoria {
    height: 390px;
    width: 100%;
}
#videos_barra{
	width: 100%;
	height: 505px;
	background-image: url("../images/Barra_conTexto.png");
	background-position: center;
	background-size: 1440px 300px;
	background-repeat: no-repeat;
}
#pbarra {
  width: 100%;
  height: 50px;
  background-color: #000;
  background-image: url("../images/Texto_Barra.png");
  background-position: left 10% center;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10;
  background-repeat: no-repeat;
  background-size: auto 25px;
  display: none;
}
.indepth_powe_barra_img {
  width: 170px;
  height: 180px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url("../images/Powerade_Barra.png");
  background-repeat: no-repeat;
  background-size: contain;
}
@media(max-width: 700px){
	#indepth_cover {
	    height: 500px;
	}
	#indepth_videos {
		height: 850px;
	}
	#videos_container {
	    width: 480px;
	    padding-top: 100px;
	    height: 350px;
	}
	#video_convocatoria {
		height: 290px;
	}
	#videos_barra {
	    background-size: 1080px auto;
	    height: 350px;
	}
	#pbarra {
	    background-size: auto 17px;
	}
	.indepth_powe_barra_img {
	    height: 150px;
	    width: 142px;
	}
}
@media(max-width: 500px){
	#indepth_cover {
		height: 400px;
	}
	#videos_container {
	    width: 320px;
	    height: 270px;
	}
	#video_convocatoria {
	    height: 215px;
	}
	#videos_barra {
	    background-size: 660px auto;
	    height: 230px;
	}
	#pbarra {
	    background-size: auto 11px;
	}
	.indepth_powe_barra_img {
	    height: 105px;
	    width: 100px;
	}
	#indepth_videos {
	   height: 660px;
	}
}